
<div class="titulo-perfil">
    <h1 class="btn-primary">Meu Perfil</h1>
</div>
        
<section class="perfil btn-primary" >
    <div class="dados"><h2> <a href="./edit" class="btn btn-primary">Informações do Perfil</a> </h2></div>
    <div class="wine"><h2> <a href="./profile/wine" class="btn btn-primary">Meus vinhos</a> </h2></div>
</section>


<section class="content-wine">
    <h1 class="titulo">Meus Vinhos</h1>
    <div>
        <button class="btn btn-primary button1">Inserir vinho</button>
    </div>
</section>