h1 {
    font-size: 30px;
    margin: 10px;
    padding: 20px;
}

h2 {
    margin-top: 10px;
    font-size: 25px;
}

.titulo-perfil {
    margin-top: 10px;
    text-align: center;
}

.titulo {
    text-align: center;
    font-size: 30px;
}

.perfil {
    display: flex;
    margin: 10px;
}

.dados, .wine {
    padding-left: 20%;
    width: 40%;
    text-align: center;
}

.button1 {
    margin: 10px;
}

.forms-content {
    margin-bottom: 500px;
}

#result {
    border: 1px dotted #ccc;
    padding: 3px;
    
    color: rgb(63, 63, 63);
  }


