
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
</head>

<body>
    
    <div class="titulo-perfil">
        <h1 class="btn-primary">Meu Perfil</h1>
    </div>
        
    <section class="perfil btn-primary" >
        <div class="dados"><h2> <a href="./profile" class="btn btn-primary stretched-link">Informações do Perfil</a> </h2></div>
        <div class="wine"><h2> <a href="./profile" class="btn btn-primary stretched-link">Meus vinhos</a> </h2></div>
    </section>

</body>

